.nav-top {
    background-color: #3C3D41;
    border: none;
    border-radius: 0;
}

.nav-top a * {
    color: white;
}

.row h2 {
    text-align: center;
}

.books {
    /*padding-left: 20%;*/
}

.book {
    margin-top: 50px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    color: black;
    
}

.book a {
    color: black;
}

.book a:hover {
/*    border: 1px solid red;*/
    text-decoration: none;
    color: black;
    
}

.book-description {
    font-size: 120%;
}

.book-price {
    margin-top: 20px; 
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 120%;
}

.book-thumb img {
    height: 200px;
    margin: auto;
/*    margin-left: 20px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-color: #5CB85C;
    color: white;
}

li.cart-item {
    background-color: #5CB85C;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px;
}

ul.cart-list {
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

a.remove-item {
    padding-top: 5px;
    color: black;
}

a.login:hover {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}

h3.book-name {
    margin-top: 0;
}

li.book .book-name {
    height: 30px;
}

li.book .book-description {
    height: 100px;
}

